@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Source+Sans+Pro&display=swap');

body {
    background: #ffafaf;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
}

section {
    max-width: 100%;
    width: 900px;
    margin: auto;
}

#context {
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 5);
}

.context-menu {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.context-menu a {
    display: block;
    width: 200px;
    padding: 10px;
    color: #333;
    text-decoration: none;
    text-shadow: none;
    font-weight: 600;
}

.context-menu a:hover {
    background: #eee; 
}

.context-menu a.hidden {
    display: none;
}