@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Source+Sans+Pro&display=swap');

body {
    background: #ffafaf;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
}

body h1 {
    margin: 5px;
}

h1 {
    border: 3px solid #ffffff;
    margin-top: 0px;
}

h3 {
    margin: 10px;
    padding: 2px;
    border-bottom: 1px solid #000000;
    font-family: 'Courier New', Courier, monospace;
}

a:hover {
    color: #ffffff;
}

p {
    letter-spacing: 1px;
}

.my-input, .my-textarea {
    display: block;
    width: 100%;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.my-input:focus {
    background: #ffafaf;
}

.profile-menu {
    list-style: none;
    float: right;
}

.submenu {
    list-style: none;
    padding: 0px;
    border: 1px solid #aaa;
    background: #fff;
    margin-top: 30px;
    box-shadow: 2px 2px 15px #aaa;
    width: 300px;
    position: absolute;
    right: 10px;
    display: none;
}

.submenu.active {
    display: block;
}

section {
    max-width: 100%;
    width: 900px;
    margin: auto;
}